body {
    filter: brightness(2);
	background-color: #262627;
	color: #fff;
	font-family: Helvetica;
	font-size: 20px !important;
	line-height: 22px;
}

p {
    font-size: 1.2rem;
}

a {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	text-decoration: none;
	color: #929293;
}

a:hover {
	color: #49C7FF;
}
