extends layout.pug

block head_title
	| wryk

block title
	:markdown
		# wryk

block navigation
	:markdown
		* [Github](https://github.com/wryk)
		* [Email](mailto:wryk@wryk.moe)
		* [XMPP](xmpp:wryk@wryk.moe)
		* [Matrix](https://matrix.to/#/@wryk:matrix.org)
		* [Keybase](https://keybase.io/wryk)

block content
	:markdown
		Hello there, I'm **wryk**, a young french developer, passionate about development and japanese popular culture.
	
		## Job
		
		I work in a small company since 2013, mainly doing web development with PHP. I'm also a JavaScript (LiveScript, TypeScript, etc) user and I'm fluent with common web technologies. I know others languages too like Perl6, Ruby, Java and Haskell but I'm not experienced enough with them.
			
		## Hobbies

		I spend most of my free time between developing almost functionnal things, making stunning cosplay stuff, and watching animes.

block footer
	:markdown
		Made with web technologies and love !
