doctype html
html(lang='en')
	head
		meta(charset='utf-8')
			
		title
			block head_title

		block meta
			meta(name='author' content='wryk')
			meta(name='description' content='much wow')
			meta(name='viewport' content='width=device-width, initial-scale=1.0')
			meta(http-equiv='X-UA-Compatible' content='IE=Edge')
				
		block styles
			link(rel='stylesheet' media="screen" href='style.css')

	body
		article
			header
				.title
					img(src='avatar.jpg')
						
					block title

				nav
					block navigation

			main
				block content

			footer
				block footer
